In [1]:
import pandas as pd
import numpy as np

In [2]:
class pca:
	def __init__(self, n_component = 1):
		self.n_component = n_component


	def fit(self,X):
		self.X = np.array(X)
		X_mean = X - X.mean(axis=0)

		co_variance = np.dot(X_mean.T, X_mean) 
		value_eig , vector_eig = np.linalg.eig(co_variance)
		value_eig = [abs(value) for value in value_eig]

		val_vector = list(zip(value_eig, vector_eig))
		val_vector = (sorted(val_vector, key=lambda item : item[0]))

		principal_component = val_vector[0 : self.n_component]
		principal_component = [element [1]for element in principal_component]
		principal_component = np.vstack(principal_component)

		return np.dot(X, principal_component.T)

In [5]:
df = pd.read_csv("/content/BostonHousing.csv")
df = df.drop(columns="medv")
df.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [7]:
df.shape

(506, 13)

In [8]:
model = pca(3)

In [9]:
df_pca = model.fit(df)

In [11]:
df_pca.shape

(506, 3)